@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Message.Title</h1>
    <h3>@Model.Message.Description</h3>
</div>
